@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
	background-size: contain;
	background-image: url("fondomvg.svg");
	background-color: #fffbe8;
	background-repeat: no-repeat;
}
/*
@media (orientation: portrait)
{
	#calendar
	{
		display: none;
	}
}
*/

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}